<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
    {%load static%}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'css/index.css'%}">
    <link rel="stylesheet" href="{%static 'css/post.css'%}">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="{%static 'images/favicon (2).ico'%}" alt="Story Yard" width="60" height="60"
                    class="d-inline-block align-text-top">
            </a>
            <div class="right_nav">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <a class="buttons" href="login.html">Log In</a>
            </div>
        </div>
    </nav>
    <section class="body">
        <div class="slider">
            <div class="Post_Title">
                <h1>Caskett of Cassettes</h1>
            </div>
        </div>
        <div class="article">
            <q>LOREM IPSUM</q>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Amet dictum sit amet justo. Auctor urna nunc id cursus. Aliquet bibendum enim
                facilisis
                gravida neque. Mi proin sed libero enim sed faucibus turpis. Sed blandit libero volutpat sed cras
                ornare.
                Volutpat commodo sed egestas egestas fringilla phasellus faucibus. Semper quis lectus nulla at volutpat
                diam
                ut venenatis tellus. Auctor augue mauris augue neque gravida. At tellus at urna condimentum mattis.
            </p>
            <p>
                In est ante in nibh mauris cursus mattis molestie. Libero volutpat sed cras ornare arcu dui vivamus arcu
                felis. Rhoncus mattis rhoncus urna neque viverra justo nec. Fermentum iaculis eu non diam phasellus
                vestibulum lorem sed. Ac odio tempor orci dapibus ultrices in iaculis. Porttitor eget dolor morbi non.
                Pharetra convallis posuere morbi leo urna. Iaculis at erat pellentesque adipiscing commodo elit. Nulla
                facilisi etiam dignissim diam quis enim lobortis scelerisque. Augue eget arcu dictum varius duis at.
            </p>
            <p>
                Duis ultricies lacus sed turpis. Cras adipiscing enim eu turpis egestas. In cursus turpis massa
                tincidunt
                dui. Orci eu lobortis elementum nibh tellus molestie. Lacus suspendisse faucibus interdum posuere lorem.
                Vestibulum lorem sed risus ultricies. Non enim praesent elementum facilisis leo vel fringilla. Nisl
                tincidunt eget nullam non nisi est. Vitae congue mauris rhoncus aenean vel elit scelerisque mauris.
                Adipiscing elit duis tristique sollicitudin nibh sit amet commodo nulla. Eros donec ac odio tempor. In
                metus
                vulputate eu scelerisque felis imperdiet proin fermentum leo. Nisi est sit amet facilisis magna etiam.
                Semper quis lectus nulla at volutpat diam ut venenatis tellus. Fermentum et sollicitudin ac orci. At
                imperdiet dui accumsan sit amet nulla. Elit at imperdiet dui accumsan sit amet nulla facilisi. Mi tempus
                imperdiet nulla malesuada pellentesque elit eget gravida cum. Ullamcorper dignissim cras tincidunt
                lobortis
                feugiat vivamus at augue eget.
            </p>
            <p>
                Nulla posuere sollicitudin aliquam ultrices sagittis. Sollicitudin ac orci phasellus egestas tellus
                rutrum
                tellus pellentesque. Augue ut lectus arcu bibendum at varius. Rutrum tellus pellentesque eu tincidunt
                tortor
                aliquam nulla. Ut pharetra sit amet aliquam id diam maecenas. Sed felis eget velit aliquet sagittis.
                Tincidunt ornare massa eget egestas purus. Et netus et malesuada fames ac turpis egestas integer. Mattis
                rhoncus urna neque viverra justo nec ultrices dui sapien. Aliquam eleifend mi in nulla posuere
                sollicitudin
                aliquam. Mi bibendum neque egestas congue quisque egestas diam in. Vitae tortor condimentum lacinia quis
                vel
                eros donec ac odio. Justo eget magna fermentum iaculis eu non diam phasellus vestibulum. Ipsum nunc
                aliquet
                bibendum enim facilisis gravida. Hendrerit gravida rutrum quisque non tellus orci. Pharetra magna ac
                placerat vestibulum lectus mauris ultrices eros in. Cursus vitae congue mauris rhoncus aenean vel elit
                scelerisque mauris. Enim diam vulputate ut pharetra sit amet aliquam id. Sapien eget mi proin sed
                libero.
                Enim eu turpis egestas pretium.
            </p>
            <p>
                In est ante in nibh mauris cursus mattis molestie a. Lacus sed viverra tellus in hac. Scelerisque purus
                semper eget duis. Mattis enim ut tellus elementum. Pellentesque id nibh tortor id aliquet lectus proin.
                Ultricies tristique nulla aliquet enim tortor at auctor urna nunc. Enim lobortis scelerisque fermentum
                dui
                faucibus. Mauris nunc congue nisi vitae suscipit tellus mauris a diam. Justo laoreet sit amet cursus sit
                amet dictum sit amet. Lectus mauris ultrices eros in cursus turpis massa tincidunt. Blandit turpis
                cursus in
                hac. Urna porttitor rhoncus dolor purus non enim. Semper risus in hendrerit gravida rutrum quisque non.
                Ornare arcu odio ut sem nulla pharetra diam sit amet. Congue nisi vitae suscipit tellus. Sed viverra
                ipsum
                nunc aliquet bibendum enim facilisis gravida neque.
            </p>
        </div>
        <div class="comment">
            <a class="buttons" href="genre.html">Back</a>
            <a class="buttons" href="post.html">Next</a>
        </div>

    </section>
    <div id="button">
        <div id="clock" onload="CurrentTime()"></div>
    </div>
    <script src="{%static 'js/post.js'%}"> </script>
</body>

</html>